::-webkit-scrollbar {
    width: 0;
}

:root {
  --dark-0: #151515;
  --dark-1: #181818;
  --dark-2: #202020;
  --dark-3: #252525;
  --dark-4: #303030;
  --dark-5: #353535;
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --red-0: #fff5f5;
  --red-1: #ffe3e3;
  --red-2: #ffc9c9;
  --red-3: #ffa8a8;
  --red-4: #ff8787;
  --red-5: #ff6b6b;
  --red-6: #fa5252;
  --red-7: #f03e3e;
  --red-8: #e03131;
  --red-9: #c92a2a;
  --pink-0: #fff0f6;
  --pink-1: #ffdeeb;
  --pink-2: #fcc2d7;
  --pink-3: #faa2c1;
  --pink-4: #f783ac;
  --pink-5: #f06595;
  --pink-6: #e64980;
  --pink-7: #d6336c;
  --pink-8: #c2255c;
  --pink-9: #a61e4d;
  --grape-0: #f8f0fc;
  --grape-1: #f3d9fa;
  --grape-2: #eebefa;
  --grape-3: #e599f7;
  --grape-4: #da77f2;
  --grape-5: #cc5de8;
  --grape-6: #be4bdb;
  --grape-7: #ae3ec9;
  --grape-8: #9c36b5;
  --grape-9: #862e9c;
  --violet-0: #f3f0ff;
  --violet-1: #e5dbff;
  --violet-2: #d0bfff;
  --violet-3: #b197fc;
  --violet-4: #9775fa;
  --violet-5: #845ef7;
  --violet-6: #7950f2;
  --violet-7: #7048e8;
  --violet-8: #6741d9;
  --violet-9: #5f3dc4;
  --indigo-0: #edf2ff;
  --indigo-1: #dbe4ff;
  --indigo-2: #bac8ff;
  --indigo-3: #91a7ff;
  --indigo-4: #748ffc;
  --indigo-5: #5c7cfa;
  --indigo-6: #4c6ef5;
  --indigo-7: #4263eb;
  --indigo-8: #3b5bdb;
  --indigo-9: #364fc7;
  --blue-0: #e7f5ff;
  --blue-1: #d0ebff;
  --blue-2: #a5d8ff;
  --blue-3: #74c0fc;
  --blue-4: #4dabf7;
  --blue-5: #339af0;
  --blue-6: #228be6;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1864ab;
  --cyan-0: #e3fafc;
  --cyan-1: #c5f6fa;
  --cyan-2: #99e9f2;
  --cyan-3: #66d9e8;
  --cyan-4: #3bc9db;
  --cyan-5: #22b8cf;
  --cyan-6: #15aabf;
  --cyan-7: #1098ad;
  --cyan-8: #0c8599;
  --cyan-9: #0b7285;
  --teal-0: #e6fcf5;
  --teal-1: #c3fae8;
  --teal-2: #96f2d7;
  --teal-3: #63e6be;
  --teal-4: #38d9a9;
  --teal-5: #20c997;
  --teal-6: #12b886;
  --teal-7: #0ca678;
  --teal-8: #099268;
  --teal-9: #087f5b;
  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;
  --lime-0: #f4fce3;
  --lime-1: #e9fac8;
  --lime-2: #d8f5a2;
  --lime-3: #c0eb75;
  --lime-4: #a9e34b;
  --lime-5: #94d82d;
  --lime-6: #82c91e;
  --lime-7: #74b816;
  --lime-8: #66a80f;
  --lime-9: #5c940d;
  --yellow-0: #fff9db;
  --yellow-1: #fff3bf;
  --yellow-2: #ffec99;
  --yellow-3: #ffe066;
  --yellow-4: #ffd43b;
  --yellow-5: #fcc419;
  --yellow-6: #fab005;
  --yellow-7: #f59f00;
  --yellow-8: #f08c00;
  --yellow-9: #e67700;
  --orange-0: #fff4e6;
  --orange-1: #ffe8cc;
  --orange-2: #ffd8a8;
  --orange-3: #ffc078;
  --orange-4: #ffa94d;
  --orange-5: #ff922b;
  --orange-6: #fd7e14;
  --orange-7: #f76707;
  --orange-8: #e8590c;
  --orange-9: #d9480f;
  --border-outline: solid 1px rgba(255, 255, 255, .2);
}

* {
    padding: 0;
    border: 0;
    margin: 0;
}

@font-face {
  font-family: "SF Pro";
  src: url(/assets/SF-Pro-Display-Medium.otf);
}
@font-face {
font-family: "im";
src: url(/assets/impact.ttf);
}

#announce {
    height: auto;
    width: 100%;
    background-color: red;
    top: 65px;
    display: block;
    position: sticky;
    z-index: 98;
}
#announce a {
    padding: 10px;
    color: white;
    text-align: center;
    width: 95%;
    display: block;
    font-size: 100%;
}
#announce button {
    color: aqua;
    background-color: red;
    font-size: 100%;
    font-weight: bold;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "SF Pro";
}

.light {
  background-color: #bdbdbd;
}

.topnav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 65px;
  backdrop-filter: blur(5px) brightness(.5);
  border-bottom: solid 1px rgb(10, 10, 10);
  z-index: 100000;
}
.topnav a {
  padding: 20px;
  color: var(--blue-0);
  position: relative;
  font-size: 20px;
  cursor: pointer;
  transition: .2s;
  text-decoration: none;
  border-bottom: solid 5px rgba(255, 255, 255, 0);
}
.topnav a:hover {
  border-bottom: solid 5px rgba(255, 255, 255, .2);
  transition: .2s;
}
.topnav .active {
  border-bottom: solid 5px white;
  cursor: default;
}
.topnav .active:hover {
  border-bottom: solid 5px white;
  color: white;
}
.coname {
    display: block;
    position: relative;
    color: var(--blue-0);
    font-size: 4vw;
    width: 100%;
    text-align: center;
    bottom: 2.2vw;
    font-family: "SF Pro";
    text-shadow: 0 0 10px var(--blue-0);
}
.codesc {
    display: block;
    position: relative;
    color: var(--blue-0);
    font-size: 2vw;
    width: 100%;
    text-align: center;
    bottom: 2.2vw;
    font-family: "SF Pro";
    text-shadow: 0 0 10px var(--blue-0);
}

#stars {
	display: block;
	position: relative;
	width: 100%;
	height: 16rem;
	height: 100vh;
	z-index: 1;
}

.init {
  position: absolute;
  margin-top: 100px;
}
section {
  width: 95%;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
}
section * {
  color: white
}
section h1 {
  font-size: 80px;
  margin-bottom: 30px;
}
section h2 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
}
section a {
  font-size: 20px;
}

#connections {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    z-index: 1000;
}

#particles-js{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: fixed;
    top: 0px;
    z-index:-1;
}

.page {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.01);
    border-top: solid 1px rgb(10, 10, 10);
    padding-left: 10vw;
    padding-right: 10vw;
}

.pane {
    width: 20vw;
    height: 20vw;
    left: 1vw;
    top: 5vw;
    position: relative;
    perspective: 600px;
}
  
.pane-tilt {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: 0.1s;
    display: flex;
    transform-style: preserve-3d;
    border-radius: 30px;
}
  
.pane-tilt-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.1);
}
  
.pane-tilt-desc {
    position: relative;
    margin: auto;
    color: #fff;
    transition: 0.3s;
    transform: translateZ(0px);
    scale: 0.6;
    opacity: 0;
}
  
.pane:hover .pane-tilt-desc {
    transform: translateZ(60px);
    scale: 1;
    opacity: 1;
}

.adesc {
    position: relative;
    display: block;
    left: 23vw;
    color: white;
    font-size: 2vw;
    width: 75%;
    top: -15vw;
    text-align: justify;
}

@media (max-width: 1024px)  { /* Detects if the screen width below n */
    .adesc {
        left: 1vw;
        font-size: 4vw;
        width: 100%;
        top: -15vw;
        text-align: justify;
        margin-top: 23vw;
    }
    .pane {
        width: 100%;
        height: 80vw;
        left: 1vw;
        top: 5vw;
        position: relative;
        perspective: 600px;
    }
}  

@media (max-width: 470px)  { /* Detects if the screen width below n */
    .topnav {
        height: 16vw;
    }
    .dropdown {
      height: 16vw;
    }
    .topnav a {
        padding: 5vw;
        font-size: 4vw;
    }
    .dropdown .dropbtn {
      font-size: 4vw !important;
      padding: 5vw !important;
    }
    #announce {
        top: 16vw;
    }
    #announce a {
        padding: 2vw;
        font-size: 4vw;
    }
}   
@media (max-width: 840px) {
  .minigrid-container .grid {
    position: relative;
    left: 5px !important;
    width: 40vw !important;
  }
  .media-container {
    width: 90vw !important;
    height: 50vw !important;
  }
  .catvid {
    width: 80vw !important;
  }
}

ul {
  list-style: none;
}

.example-2 {
  background-color: rgba(0,0,0,.5);
  border-radius: 15px;
  padding: 10px;
  border: var(--border-outline);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}
.example-2 .icon-content {
  margin: 0 10px;
  position: relative;
}
.example-2 .icon-content .tooltip {
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
  font-size: 14px;
  transition: all 0.3s ease;
}
.example-2 .icon-content:hover .tooltip {
  opacity: 1;
  visibility: visible;
  top: -50px;
}
.example-2 .icon-content a {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #4d4d4d;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover {
  box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
}
.example-2 .icon-content a svg {
  position: relative;
  z-index: 1;
  width: 30px;
  height: 30px;
}
.example-2 .icon-content a:hover {
  color: white;
}
.example-2 .icon-content a .filled {
  position: absolute;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #000;
  transition: all 0.3s ease-in-out;
}
.example-2 .icon-content a:hover .filled {
  height: 100%;
}

.example-2 .icon-content a[data-social="linkedin"] .filled,
.example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
  background-color: #0274b3;
}

.example-2 .icon-content a[data-social="github"] .filled,
.example-2 .icon-content a[data-social="github"] ~ .tooltip {
  background-color: #24262a;
}
.example-2 .icon-content a[data-social="instagram"] .filled,
.example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
  background: linear-gradient(
    45deg,
    #405de6,
    #5b51db,
    #b33ab4,
    #c135b4,
    #e1306c,
    #fd1f1f
  );
}
.example-2 .icon-content a[data-social="youtube"] .filled,
.example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
  background-color: #fd1f1f;
}

.example-2 .icon-content a[data-social="osu"] .filled,
.example-2 .icon-content a[data-social="osu"] ~ .tooltip {
  background-color: #dc98a4;
}
.example-2 .icon-content a[data-social="discord"] .filled,
.example-2 .icon-content a[data-social="discord"] ~ .tooltip {
  background-color: #5865F2;
}

.example-2 .icon-content a[data-social="osu"] .filled,
.example-2 .icon-content a[data-social="osu"] ~ .tooltip {
  background-color: #dc98a4;
}

.bottomtext {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

.media-container {
  position: relative;
  display: inline-grid;
  width: 43vw;
  height: 24.2vw;
  border: solid 1px rgba(255, 255, 255, .2);
  border-radius: 15px;
  transition: .2s;
  border-top: solid 5vw rgb(255, 255, 255);
  margin-right: 1vw;
  margin-bottom: 1vw;
}
.media-container iframe, .media-container video {
  position: absolute;
  width: 100%;
  height: 100%;
}
.media-container a {
  z-index: 1;
  display: block;
  position: absolute;
  font-family: "im";
  width: 100%;
  text-align: center;
  color: #000;
  top: -4vw;
  font-size: 3vw;
  left: 50%;
  transform: translateX(-50%);
}

.catvid {
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  border-radius: 15px;
}

iframe, video {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.showcase {
  width: 90vw;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  color: white;
  padding: 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: .2s;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(255, 255, 255, .2);
  transition: .2s;
}

.dropdown-content {
  display: block;
  height: 0;
  position: absolute;
  background-color: rgba(0,0,0,0);
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
  border-top-left-radius: 0;
  overflow: hidden;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  background-color: #f9f9f9;
  transition: .2s;
}
.dropdown:hover .dropdown-content {
  display: block;
  height: 140px;
}

.glow {
  z-index: -1;
  position: absolute;
  margin: auto;
  width: 150px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  filter: blur(65px);
  transition: all .5s ease-in-out;
}