.loading_model * {
    cursor: wait;
}
.loading_model {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(5px);
}
.loading_model a {
    border: var(--border-outline);
    border-radius: 15px;
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 100px;
    width: 10vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, .5);
}

.controller {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 300px;
    height: auto;
    top: 100px;
    left: 50px;
    z-index: 999;
    padding: 15px;
    border: var(--border-outline);
    border-radius: 15px;
    backdrop-filter: blur(5px);
}
.controller * {
    color: white;
}

.option {
    margin-bottom: 10px;
}
.option {
    width: 100%;
    background: transparent;
}
.option a {
    font-size: 20px;
    display: block;
    margin-bottom: 10px;
}
.option input[type='color'] {
    padding: 0;
    border: 0;
    block-size: 20px;
    width: 190px;
    float: right;
    right: 35px;
    position: absolute;
}
.option input[type='range'] {
    accent-color: white;
    width: 190px;
    float: right;
    bottom: -2px;
    position: relative;
    right: 20px;
}
.option input[type='checkbox'] {
    margin-left: 5px;
}

.input-title {
    font-size: 15px !important;
    display: inline !important;
}

select {
    font-size: 15px;
    background: black;
    width: 100%;
}

.btn {
    cursor: pointer;
    float: right;
    right: 10px;
    position: absolute;
}