/* Input container */
.input-container {
    position: relative;
    margin: 20px;
    width: 372px;
    left: 0;
    top: 20px;
}
  
  /* Input field */
  .input-field {
    display: block;
    width: 94%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #333333;
    outline: none;
    background-color: transparent;
    color: #000;
  }
  
  /* Input label */
  .input-label {
    position: absolute;
    top: 8px;
    left: 9px;
    font-size: 22px;
    color: rgba(0, 0, 0, .4);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #007bff;
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 16px;
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }
  
  .input-field:focus + .blue {
    color: #007bff;
  }
  .input-field:focus + .red {
    color: red;
  }
  .redbg {
    background-color: red;
  }

  video {
    display: none;
  }

  .here-it-goes {
    display: block !important;
    width: 80%;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: unset;
  }